body{
  background-color: #ffffff;
  /* padding: 20px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1{
  margin: -10px;
  margin-bottom: 0;
  padding-top: 30px; 
  padding-bottom: 15px; 
  color: #ffffff;
  background-color: #8204ff;
  height: 30%;
}

.bgImage{
  background-image: url('/Assets/architecture-blue-sky-buildings-dull-500.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.search{
  display: flex;
  justify-content: center;
  
}
.searchBar{
  border-radius: 50px;
  border: none;
  padding: 7px 14px;
}
.searchBar::placeholder{
  color: #8204ff;
}
.searchIcon{
  margin-left: -40px;
}
.textGroup1{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: -10px;
  padding-top: 25px;
}
.city{
  padding: 0 10px;
  font-size: 30px;
  font-weight: bold;
}
.country,
.textGroup2{
  font-size: 18px;
  font-weight: 400;
}
.textGroup2{
text-align: center;
display: flex;
justify-content: center;
}
.textGroup2 p{
  padding: 5px;
}

.section2{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.left{
  padding-right: 20px;
  text-align: right;
  flex: 1;
  
}
#weatherIcon {
  background-color:  #8204ff;
  border-radius: 50px;
}
.degrees,
.weather{
  font-size: 30px;
}
.weather{
  font-weight: bold;
}
.line{
  background-color: #8204ff;
  width: 7px;
  border-radius: 20px;
}

.right{
  padding-left: 20px;
  font-size: 14px;
  flex: 2;
  align-self: center;
}
.right h2 {
  margin-bottom: 7px;
}
.highlights{
display: flex;
}
.values{
  margin-left: 10px;
}
/* .right span {
  display: flex;
  justify-content: space-between;
}
.right span p:nth-child(2){
  padding-left: 10px;
} */
.section3 {
  display: flex;
  justify-content:center;
  text-align: center;
}
.card{
  margin: 10px;
}
.hidden{
  display: none;
}
.innerCard{
  background-color: #8204ff;
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  width: 80px;
}
.innerCard p {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
.hidden{
  display: unset;
}
}
@media (min-width: 600px){
  .left{
    flex: 1;
  }
  .right{
    flex: 1;
  }
}